API_KEY="Your Google GEMINI API KEY. https://aistudio.google.com/app/u/1/apikey"
REACT_APP_API_SECRET=

CHAT_API_KEY=ww7n2fq2nm2b
CHAT_API_TOKEN=vtve5ftu58uag6szssr8g9rsts5t9d59vvqgbpf3v4q8utvaqbse7kuuhabp66hf
CHAT_APP_USER_ID=granty
CHAT_APP_USER_NAME="DevOps Engineer - Grant"
CHAT_APP_USER_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiZ3JhbnR5In0.Bf-8kjufx0FiTIUfGKVRUG5NnnkM8OGjRUyar7EXWDY
