API_KEY="Your Google GEMINI API KEY. https://aistudio.google.com/app/u/1/apikey"
REACT_APP_API_SECRET=

CHAT_API_KEY=ww7n2fq2nm2b
CHAT_API_TOKEN=
CHAT_APP_USER_ID=
CHAT_APP_USER_NAME=""
CHAT_APP_USER_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiY2h1dGVuZyJ9.TRO1Imv8_qqGDGBOuPEysP5VOiLYz_MDWfGjna645eI